@import "tailwindcss";
@source "../node_modules/primereact";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-lato);
  --font-display: var(--font-playfair);
}

/* Hide scrollbar for horizontal scroll areas */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.fade-in-up {
    animation: fadeUp 0.8s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
